.productItem {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thumbnailContainer {
  position: relative;
  width: 100%;
  height: 30dvh;
}

.thumbnail {
  object-fit: cover;
}

.content {
  margin-block: 20px;
  width: 90%;
  margin-inline: auto;
}

.link {
  all: unset;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}
